@page
@model IndexModel
<style>
    
     .card {
         position: relative;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         min-width: 0;
         word-wrap: break-word;
         background-color: #fff;
         background-clip: border-box;
         border: 0 solid transparent;
         border-radius: 0;
     }
    
     .card-body {
         -webkit-box-flex: 1;
         -ms-flex: 1 1 auto;
         flex: 1 1 auto;
         padding: 1rem !important;
     }
    
     .card .card-title {
         position: relative;
         font-weight: 600;
         margin-bottom: 10px
     }
    
     .table {
         width: 100%;
         max-width: 100%;
         margin-bottom: 1rem;
         background-color: transparent
     }
    
     .table th,
     .table thead th {
         font-weight: 500
     }
    
     .table thead th {
         vertical-align: bottom;
         border-bottom: 2px solid #dee2e6
     }
    
     .table th {
         padding: 1rem .5rem;
         vertical-align: top;
         border-top: 1px solid #dee2e6
     }
    
     .table th,
     .table thead th {
         font-weight: 500
     }
    
     th {
         text-align: inherit
     }
    
</style>
<<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title m-b-0">Static Table With Checkboxes</h5>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Country</th>
                                <th scope="col">Browser</th>
                                <th scope="col">Platform(s)</th>
                                <th scope="col">Engine version</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr>
                                <td>India</td>
                                <td>Chrome OS</td>
                                <td>MAC OS</td>
                                <td>76</td>
                            </tr>
                            <tr>
                                <td>USA</td>
                                <td>Internet Explorer</td>
                                <td>Win 2010</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>UK</td>
                                <td>Safari</td>
                                <td>Mac OS</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>UAE</td>
                                <td>Google Chrome</td>
                                <td>Win 2013</td>
                                <td>76.12</td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td>Internet Explorer</td>
                                <td>Win 2010</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Turkey</td>
                                <td>Internet Explorer 8</td>
                                <td>Win 2010</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>