@page "{lessonId}"
@model EditModel
@{
    ViewData["Title"] = "Edit lesson";
}
<div class="container" style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">@ViewBag.Title</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        
                        <label asp-for="LessonDto.Name"></label><br/>
                        <span asp-validation-for="LessonDto.Name"></span>
                        <input asp-for="LessonDto.Name" type="text" placeholder="Name">
                        <input asp-for="LessonDto.Id" hidden/>
                        <div class="button-box">
                            <button type="submit">
                                <span>Update</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>