/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");
/*-- Common Style --*/
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 18px;
}

h6 {
    font-size: 12px;
    line-height: 14px;
}

p:last-child {
    margin-bottom: 0;
}

select {
    width: 100%;
    background: transparent;
    border: 0 solid #eceff8;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #333;
}

a,
button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a,
button,
img,
input,
span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* Buttons  */
.btn.btn-round {
    border-radius: 40px;
}
.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:focus,
.btn-outline-danger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
/* Buttons  */

/* Table */
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    font-size:17px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem !important;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table thead th {
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table th {
    padding: 1rem 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.customtable tr.data-tr:hover{
    background-color: #eee;
    cursor: pointer;
}
.table th,
.table thead th {
    font-weight: 500;
}

th {
    text-align: inherit;
}
/* Table */
.btn-hover a {
    position: relative;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.btn-hover a:hover {
    border: 1px solid #a749ff;
    color: #fff;
}
.btn-hover a::before,
.btn-hover a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
}
.btn-hover a::after {
    width: 0;
    left: auto;
    right: 0;
    background: #a749ff;
}
.btn-hover a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.text-center {
    text-align: center !important;
}

.header {
    padding: 15px 80px;
}
.header .container-fluid a {
    font-size: 24px;
    line-height: 30px;
    color: #555252;
    font-weight: 500;
    letter-spacing: 0.8px;
    display: inline-block;
    text-decoration: none;
}
@media (max-width: 991px) {
    .header {
        padding: 0;
    }
}
.header-bar .header-item {
    margin-left: auto;
}
@media (max-width: 991px) {
    .header-bar .header-item {
        margin-left: 0;
    }
}
.navbar-toggler-icon i {
    color: black;
    font-size: 24px;
}
.header button.header-button {
    background-color: transparent;
    border: 0;
    height: 32px;
    width: 32px;
}
@media (min-width: 991px) {
    .header button.header-button {
        display: none;
    }
}
.header-bar .header-item li a {
    font-size: 18px;
    color: #555252;
    font-weight: 500;
    letter-spacing: 0.8px;
    display: inline-block;
    text-decoration: none;
}
.header-bar .header-item li a:hover {
    color: #a749ff;
}
.header-bar .icon-nav i {
    font-size: 24px;
    font-weight: 300;
}
.header-bar .icon-nav a:hover {
    color: #a749ff;
}

.header-bar .icon-nav .dropdown .dropdown-menu a {
    font-size: 17px;
    font-weight: 400;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding: 10px 40px 10px 10px;
    color: #fff;
}
.input-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: black;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search i {
    font-size: 24px;
    font-weight: 300;
    color: #555252;
}

.btn-search:focus ~ .input-search {
    width: 300px;
    border-radius: 0;
    background-color: gray;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.btn-search:hover ~ .input-search {
    width: 300px;
    border-radius: 0;
    background-color: gray;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:hover {
    width: 300px;
    border-radius: 0;
    background-color: gray;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0;
    background-color: gray;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* Custom form */
.custom-form h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    color: #a749ff;
}
.custom-form-wrapper {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.22) 0 19px 43px;
    padding: 60px 80px 80px;
}
.custom-form-wrapper .custom-form-container form .validation ul li {
    color: #dc3545;
}
.custom-form-wrapper .custom-form-container form .field-validation-error span {
    color: #dc3545;
}
.custom-form-wrapper .custom-form-container form label {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
    margin: 0;
}
.custom-form-wrapper .custom-form-container form .select-custom select {
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: #333;
    font-size: 14px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
    min-width: 100%;
}
.custom-form-wrapper .custom-form-container form input:not([type="checkbox"]) {
    min-width: 100%;
    background-color: transparent;
    box-shadow: 0 1px 3px -2px #9098a9;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    color: #333;
    font-size: 15px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
}

.custom-form-wrapper .custom-form-container form input:not([type="checkbox"]).input-validation-error {
    box-shadow: 0 0 3px 1px #dc3545;
    animation: glowfade 0.4s linear;
}
.custom-form-wrapper .custom-form-container form input:not([type="checkbox"]):focus {
    box-shadow: 0 0 3px 1px #61b250;
    /*animation: glowfade 0.4s linear;*/
}

.button-box .login-toggle-btn {
    padding: 10px 0 19px;
}

.button-box .login-toggle-btn input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    margin-right: 10px;
}

.button-box .login-toggle-btn label {
    color: #242424;
    font-size: 15px;
    font-weight: 400;
}
.button-box .login-toggle-btn a {
    color: #242424;
    float: right;
    font-size: 15px;
}

.button-box .login-toggle-btn a:hover {
    color: #a749ff;
}

.button-box button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 11px 30px;
    text-transform: uppercase;
    float: right;
}
.button-box button:hover {
    background-color: #a749ff;
    color: #fff;
}

.custom-form-wrapper .auth-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.custom-form-wrapper .auth-box form button {
    margin-bottom: 10px;
}

.custom-form-wrapper .auth-box form button img {
    width: 20px;
    color: #242424;
    font-size: 15px;
}

/* Custom form */

/* My-account form */
.single-my-account {
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
}
.single-my-account h3.panel-title {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}

.single-my-account h3.panel-title span {
    color: #242424;
    font-size: 15px;
    left: 20px;
    position: absolute;
    top: 16px;
}
.single-my-account h3.panel-title a {
    color: #242424;
    display: block;
    padding: 16px 55px;
    position: relative;
}

.single-my-account h3.panel-title a:hover {
    color: #a749ff;
}
.single-my-account h3.panel-title a::before {
    color: #000;
    content: "\f107";
    display: inline-block;
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 19px;
}
.single-my-account h3.panel-title a:hover::before {
    color: #a749ff;
}
.single-my-account .myaccount-info-wrapper {
    padding: 30px 20px;
}

.single-my-account .myaccount-info-wrapper label {
    color: #000;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
}
.single-my-account .myaccount-info-wrapper input:not([type="checkbox"]) {
    min-width: 100%;
    background-color: transparent;
    box-shadow: 0 1px 3px -2px #9098a9;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    color: #333;
    font-size: 15px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.single-my-account .myaccount-info-wrapper input:not([type="checkbox"]):focus {
    box-shadow: 0 0 3px 1px #61b250;
    animation: glowfade 0.4s linear;
}

/* My-account form */

/* Table form */
@media only screen and (max-width: 767px) {
    .cart-main-area.pb-100 {
        padding-bottom: 60px;
    }
}

h3.cart-page-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px;
}

.cart-table-content table {
    border: 1px solid #ebebeb;
}
.cart-table-content table thead > tr {
    background-color: transparent;
    border: 1px solid #ebebeb;
}
.cart-table-content table thead > tr th {
    border-top: medium none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 21px 45px 22px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cart-table-content table thead > tr th {
        padding: 21px 35px 22px;
    }
}
@media only screen and (max-width: 767px) {
    .cart-table-content table thead > tr th {
        padding: 21px 20px 22px;
    }
}
.cart-table-content table tbody > tr {
    border-bottom: 1px solid #ebebeb;
}

.cart-table-content table tbody > tr td.product-name {
    width: 435px;
}
.cart-table-content table tbody > tr td.product-name p {
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.cart-table-content table tbody > tr td.product-wishlist-cart > a {
    background-color: #a749ff;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    padding: 7px 12px;
    text-transform: uppercase;
}
.cart-table-content table tbody > tr td.product-wishlist-cart > a:hover {
    background-color: #f2f2f2;
    color: #a749ff;
}
.cart-table-content table tbody > tr td {
    color: #333;
    font-size: 15px;
    padding: 30px 0;
    text-align: center;
}

/* Table form */

/* Switch style  */
.toggle-switch input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: transparent;
}

.toggle-switch input[type="checkbox"]:focus {
    outline: 0;
}

.toggle-switch .toggle {
    height: 32px;
    width: 72px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(160deg, #f1f4ff, #f9faff);
    transition: all 0.2s ease;
}

.toggle-switch .toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(90deg, #4f97ff, #275efe);
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle-switch .toggle:checked {
    background: linear-gradient(90deg, #4f97ff, #275efe);
}

.toggle-switch .toggle:checked:after {
    background: linear-gradient(160deg, #f1f4ff, #f9faff);
    transform: translatex(40px);
}
/* Switch style  */

/* Select-custom style  */
.select-custom {
    position: relative;
    min-width: 200px;
}
.select-custom svg {
    position: absolute;
    right: 12px;
    top: 23px;
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
.select-custom select {
    -webkit-appearance: none;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    transition: all 150ms ease;
}
.select-custom select:required:invalid {
    color: #5a667f;
}
.select-custom select option {
    color: #223254;
}
.select-custom select option[value=""][disabled] {
    display: none;
}
.select-custom select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select-custom select:hover + svg {
    stroke: #07f;
}
.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
/* Select-custom style  */

/* Input-images style */
#input-file-wrapper {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: 3px solid transparent;
    max-width: 100%;
    /*margin: 50px auto;*/
    align-self: center;
    box-sizing: border-box;
}
#input-file-wrapper.hover {
    border-color: #98c261;
}

#input-file-wrapper .images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#input-file-wrapper .images .img,
#input-file-wrapper .images .pic {
    flex-basis: 31%;
    margin-bottom: 10px;
    border-radius: 4px;
}
#input-file-wrapper .images .pic:hover {
    background-color: #a749ff;
    color: #fff;
}

#input-file-wrapper .images .img {
    min-width: 250px;
    /*height: 93px;*/
    min-height: 450px;
    height: 100%;
    background-size: cover;
    margin-right: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#input-file-wrapper .images .img span {
    display: none;
    text-transform: capitalize;
    z-index: 2;
}

#input-file-wrapper .images .img::after {
    content: "";
    width: 100%;
    height: 100%;
    transition: opacity 0.1s ease-in;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
}

#input-file-wrapper .images .img:hover::after {
    display: block;
    background-color: #000;
    opacity: 0.5;
}

#input-file-wrapper .images .img:hover span {
    display: block;
    color: #fff;
}

#input-file-wrapper .images .pic {
    background-color: #f2f2f2;
    align-self: center;
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
    box-shadow: 0 1px 3px -2px #9098a9;
    transition: all 150ms ease;
}

/* Input-images style */