@page "/login"
@using UniversityProject.Web.Pages.Account
@model LoginModel;
@{
    ViewBag.Title = "Login";
}
<div class="container" style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">@ViewBag.Title</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        
                        <label asp-for="LoginDto.Email"></label><br/>
                        <span asp-validation-for="LoginDto.Email"></span>
                        <input asp-for="LoginDto.Email" type="email" placeholder="Email">
                        
                        <label asp-for="LoginDto.Password"></label><br/>
                        <span asp-validation-for="LoginDto.Password"></span>
                        <input asp-for="LoginDto.Password" type="password" placeholder="Password">


                        <div class="button-box">
                            <button type="submit">
                                <span>Login</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>